.root
{
    -fx-background-color: #bebeda;
}
.label {
    -fx-text-fill: blue;
}

.main_menu-bar{
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #ffffff, #b0b0ff);
    -fx-font-size: 12px;
    -fx-padding: 8px;
    -fx-pref-height: 14px;
    -fx-alignment: center;
}
.side_main_menu-bar{
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #a6a6a6, #4a4aff);
    -fx-font-size: 12px;
    -fx-padding: 8px;
    -fx-pref-height: 14px;
    -fx-alignment: center;
}

